* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: grid;
  place-items: center;
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.tudo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#odd {
  font-size: 30px;
  border-radius: 5px;
  border-style:none;
  padding: 5px;
}

.calcular {
  font-size: 20px;
  border-radius: 5px;
  border-style:none;
  padding: 5px;
}

.resultado {
  font-size: 30px;
}




